* {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    color: #333;
}

body, html {
    margin: 0px;
    padding: 0px;
    background: #EBF4FD;
    width: 100%;
    height: 100%;
}

#background{
    height:100%;
    background-image: url("../media/bg.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

#content {
    background: #fafafa;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 50px;
    border: 1px solid #333;
    min-width: 650px;
}

#instructions {
    background: #EBF4FD;
    opacity: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 50px;
    border: 1px solid #333;
   
    display:none;
    z-index:1;

    font-size:100px;
    
}

#instructions p {
    font-size: 20px;
    margin-bottom: 20px;
}


.title {
    background: #fafafa;
    width: 100%;
    position: absolute;
    font-size: 120px;
    margin-bottom: 20px;
}

.text-center {
    text-align: center;
}

#num {
    font-size: 100px;
}
#playerTotal {
    font-size: 100px;
}

.crystal {
    display:inline-block;
    position: relative;
}
    .crystal img {
        width: 150px;
    }

#pTitle {
    font-size: 16px;
    font-family: 'Lato', sans-serif;
}
p{
    font-size: 16px;
    font-family: 'Lato', sans-serif;
}

#gameTitle {
    font-family: 'Ramaraja', serif;
    font-size:80px;

}

#divTitle {
    margin-bottom: 20px;
}

p {
    font-size: 16px;
    line-height: 34px;
}

.show {
    display: block;
}

.hide {
    display: none;
}

#close, #instruct {
    font-family: 'Ramaraja', serif;
    font-size:30px;
    margin-top:10px;
    margin-bottom:10px;
    font-weight:400;
}
#instructTitle {
    font-family: 'Ramaraja', serif;
    font-size: 36px;
    margin-bottom: 30px;
}
#instruct:hover, #close:hover {
    font-style: oblique;
}
#instruct:active, #close:active {
    color: #fafafa;
}



